body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:170px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2237px;
  width:1366px;
  height:170px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  text-align:left;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:2247px;
  width:55px;
  height:16px;
  text-decoration:underline;
  text-align:left;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:2273px;
  width:300px;
  height:30px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  text-align:left;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:2314px;
  width:40px;
  height:16px;
  text-decoration:underline;
  text-align:left;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:2349px;
  width:300px;
  height:15px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:2247px;
  width:22px;
  height:22px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:2247px;
  width:22px;
  height:22px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:2247px;
  width:22px;
  height:22px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:2333px;
  width:300px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:2383px;
  width:300px;
  height:15px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:2367px;
  width:300px;
  height:15px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:2292px;
  width:121px;
  height:25px;
}
#u327_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:2292px;
  width:119px;
  height:25px;
}
#u328_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:2329px;
  width:260px;
  height:25px;
}
#u329_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:2247px;
  width:235px;
  height:32px;
  text-align:left;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:2247px;
  width:185px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:2287px;
  width:74px;
  height:96px;
  text-align:left;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u336 {
  position:fixed;
  left:0px;
  top:0px;
}
#u336_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:65px;
  background-image:none;
}
#u336_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:65px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:11px;
  width:30px;
  height:44px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:15px;
  width:272px;
  height:38px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:27px;
  width:43px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:27px;
  width:46px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:27px;
  width:74px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:27px;
  width:48px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:27px;
  width:59px;
  height:16px;
  color:#000000;
  text-align:left;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:0px;
  width:346px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u354 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:0px;
  width:63px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u355 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:0px;
  width:64px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u356 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:0px;
  width:97px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u357 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:0px;
  width:68px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u358 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:0px;
  width:83px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u336_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u336_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:41px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:32px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:4px;
  width:22px;
  height:32px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:8px;
  width:272px;
  height:22px;
  font-size:20px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:0px;
  width:346px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:13px;
  width:43px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:13px;
  width:46px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:13px;
  width:74px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:13px;
  width:48px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:13px;
  width:59px;
  height:16px;
  color:#000000;
  text-align:left;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:0px;
  width:63px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u377 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:0px;
  width:64px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u378 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:0px;
  width:97px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u379 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:0px;
  width:68px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u380 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:0px;
  width:83px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1715px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:522px;
  width:1366px;
  height:1715px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:850px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:551px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:1366px;
  height:551px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:1715px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:522px;
  width:826px;
  height:1715px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:850px;
  width:822px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:614px;
  width:826px;
  height:55px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:822px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:551px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:65px;
  width:826px;
  height:551px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:822px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:31px;
  background:inherit;
  background-color:rgba(27, 27, 27, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:585px;
  width:826px;
  height:31px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:822px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:593px;
  width:13px;
  height:13px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:593px;
  width:13px;
  height:13px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:593px;
  width:13px;
  height:13px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:593px;
  width:13px;
  height:13px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:593px;
  width:13px;
  height:13px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:585px;
  width:131px;
  height:31px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:585px;
  width:131px;
  height:31px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:50px;
  height:2433px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:0px;
  width:50px;
  height:2433px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:0px;
  width:50px;
  height:2433px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:50px;
  height:2433px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:0px;
  width:50px;
  height:2433px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:0px;
  width:50px;
  height:2433px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:0px;
  width:50px;
  height:2433px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:0px;
  width:50px;
  height:2433px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:0px;
  width:50px;
  height:2433px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:0px;
  width:50px;
  height:2433px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:0px;
  width:50px;
  height:2433px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2433px;
  background:inherit;
  background-color:rgba(255, 102, 153, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:0px;
  width:50px;
  height:2433px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1208px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:1742px;
  width:680px;
  height:462px;
}
#u436_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:462px;
  overflow:auto;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:174px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:782px;
  width:261px;
  height:174px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-decoration:underline;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:733px;
  width:181px;
  height:22px;
  font-size:20px;
  text-decoration:underline;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:785px;
  width:254px;
  height:22px;
  font-size:20px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:824px;
  width:408px;
  height:134px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:174px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:981px;
  width:261px;
  height:174px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:774px;
  width:826px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:984px;
  width:276px;
  height:44px;
  font-size:20px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:1043px;
  width:402px;
  height:112px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:174px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:1324px;
  width:261px;
  height:174px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-decoration:underline;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:1275px;
  width:150px;
  height:22px;
  font-size:20px;
  text-decoration:underline;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:1327px;
  width:237px;
  height:30px;
  font-size:20px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:1366px;
  width:408px;
  height:134px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:174px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:1523px;
  width:261px;
  height:174px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:1526px;
  width:256px;
  height:22px;
  font-size:20px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:1565px;
  width:408px;
  height:134px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:785px;
  width:22px;
  height:22px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:984px;
  width:22px;
  height:22px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:1327px;
  width:22px;
  height:22px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:1526px;
  width:22px;
  height:22px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:center;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:622px;
  width:126px;
  height:41px;
  font-size:36px;
  text-align:center;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
