body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2418px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:16px;
  width:159px;
  height:60px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:1565px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1741px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:1921px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2090px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2259px;
  top:572px;
  width:159px;
  height:60px;
  color:#000000;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:86px;
  width:159px;
  height:60px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:156px;
  width:159px;
  height:60px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:642px;
  width:159px;
  height:60px;
  color:#000000;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:712px;
  width:159px;
  height:60px;
  color:#000000;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1019px;
  width:159px;
  height:60px;
  color:#000000;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1019px;
  width:159px;
  height:60px;
  color:#000000;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1089px;
  width:159px;
  height:60px;
  color:#000000;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:1089px;
  width:159px;
  height:60px;
  color:#000000;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1159px;
  width:159px;
  height:60px;
  color:#000000;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:1159px;
  width:159px;
  height:60px;
  color:#000000;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:1019px;
  width:159px;
  height:60px;
  color:#FFFFFF;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:1089px;
  width:159px;
  height:60px;
  color:#FFFFFF;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:1159px;
  width:159px;
  height:60px;
  color:#FFFFFF;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:572px;
  width:0px;
  height:0px;
}
#u54_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u54_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-73px;
  width:8px;
  height:77px;
}
#u54_seg2 {
  border-width:0px;
  position:absolute;
  left:-323px;
  top:-73px;
  width:328px;
  height:8px;
}
#u54_seg3 {
  border-width:0px;
  position:absolute;
  left:-323px;
  top:-530px;
  width:8px;
  height:465px;
}
#u54_seg4 {
  border-width:0px;
  position:absolute;
  left:-323px;
  top:-530px;
  width:16px;
  height:8px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:-369px;
  top:-116px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:572px;
  width:0px;
  height:0px;
}
#u56_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u56_seg1 {
  border-width:0px;
  position:absolute;
  left:-508px;
  top:-73px;
  width:512px;
  height:8px;
}
#u56_seg2 {
  border-width:0px;
  position:absolute;
  left:-508px;
  top:-528px;
  width:8px;
  height:463px;
}
#u56_seg3 {
  border-width:0px;
  position:absolute;
  left:-508px;
  top:-528px;
  width:17px;
  height:8px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:-502px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:572px;
  width:0px;
  height:0px;
}
#u58_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u58_seg1 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-73px;
  width:100px;
  height:8px;
}
#u58_seg2 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-530px;
  width:8px;
  height:465px;
}
#u58_seg3 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-530px;
  width:16px;
  height:8px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:-231px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:572px;
  width:0px;
  height:0px;
}
#u60_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u60_seg1 {
  border-width:0px;
  position:absolute;
  left:-706px;
  top:-73px;
  width:710px;
  height:8px;
}
#u60_seg2 {
  border-width:0px;
  position:absolute;
  left:-706px;
  top:-530px;
  width:8px;
  height:465px;
}
#u60_seg3 {
  border-width:0px;
  position:absolute;
  left:-706px;
  top:-530px;
  width:16px;
  height:8px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:-601px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:572px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-72px;
  width:8px;
  height:72px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:-889px;
  top:-72px;
  width:893px;
  height:8px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:-889px;
  top:-530px;
  width:8px;
  height:466px;
}
#u62_seg3 {
  border-width:0px;
  position:absolute;
  left:-889px;
  top:-530px;
  width:16px;
  height:8px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:-694px;
  top:-76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:572px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:-1069px;
  top:-73px;
  width:1073px;
  height:8px;
}
#u64_seg2 {
  border-width:0px;
  position:absolute;
  left:-1069px;
  top:-530px;
  width:8px;
  height:465px;
}
#u64_seg3 {
  border-width:0px;
  position:absolute;
  left:-1069px;
  top:-530px;
  width:16px;
  height:8px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:-783px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:572px;
  width:0px;
  height:0px;
}
#u66_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u66_seg1 {
  border-width:0px;
  position:absolute;
  left:-1253px;
  top:-73px;
  width:1257px;
  height:8px;
}
#u66_seg2 {
  border-width:0px;
  position:absolute;
  left:-1253px;
  top:-530px;
  width:8px;
  height:465px;
}
#u66_seg3 {
  border-width:0px;
  position:absolute;
  left:-1253px;
  top:-530px;
  width:16px;
  height:8px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:-875px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:572px;
  width:0px;
  height:0px;
}
#u68_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u68_seg1 {
  border-width:0px;
  position:absolute;
  left:-1437px;
  top:-73px;
  width:1441px;
  height:8px;
}
#u68_seg2 {
  border-width:0px;
  position:absolute;
  left:-1437px;
  top:-530px;
  width:8px;
  height:465px;
}
#u68_seg3 {
  border-width:0px;
  position:absolute;
  left:-1437px;
  top:-530px;
  width:16px;
  height:8px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:-967px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1645px;
  top:572px;
  width:0px;
  height:0px;
}
#u70_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u70_seg1 {
  border-width:0px;
  position:absolute;
  left:-1619px;
  top:-73px;
  width:1623px;
  height:8px;
}
#u70_seg2 {
  border-width:0px;
  position:absolute;
  left:-1619px;
  top:-530px;
  width:8px;
  height:465px;
}
#u70_seg3 {
  border-width:0px;
  position:absolute;
  left:-1619px;
  top:-530px;
  width:16px;
  height:8px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:-1058px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1821px;
  top:572px;
  width:0px;
  height:0px;
}
#u72_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u72_seg1 {
  border-width:0px;
  position:absolute;
  left:-1795px;
  top:-73px;
  width:1799px;
  height:8px;
}
#u72_seg2 {
  border-width:0px;
  position:absolute;
  left:-1795px;
  top:-530px;
  width:8px;
  height:465px;
}
#u72_seg3 {
  border-width:0px;
  position:absolute;
  left:-1795px;
  top:-530px;
  width:16px;
  height:8px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:-1146px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2001px;
  top:572px;
  width:0px;
  height:0px;
}
#u74_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-74px;
  width:8px;
  height:74px;
}
#u74_seg1 {
  border-width:0px;
  position:absolute;
  left:-1975px;
  top:-74px;
  width:1979px;
  height:8px;
}
#u74_seg2 {
  border-width:0px;
  position:absolute;
  left:-1975px;
  top:-530px;
  width:8px;
  height:464px;
}
#u74_seg3 {
  border-width:0px;
  position:absolute;
  left:-1975px;
  top:-530px;
  width:16px;
  height:8px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:-1234px;
  top:-78px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2170px;
  top:572px;
  width:0px;
  height:0px;
}
#u76_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u76_seg1 {
  border-width:0px;
  position:absolute;
  left:-2144px;
  top:-73px;
  width:2148px;
  height:8px;
}
#u76_seg2 {
  border-width:0px;
  position:absolute;
  left:-2144px;
  top:-530px;
  width:8px;
  height:465px;
}
#u76_seg3 {
  border-width:0px;
  position:absolute;
  left:-2144px;
  top:-530px;
  width:16px;
  height:8px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:-1320px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2339px;
  top:572px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:-2313px;
  top:-73px;
  width:2317px;
  height:8px;
}
#u78_seg2 {
  border-width:0px;
  position:absolute;
  left:-2313px;
  top:-530px;
  width:8px;
  height:465px;
}
#u78_seg3 {
  border-width:0px;
  position:absolute;
  left:-2313px;
  top:-530px;
  width:16px;
  height:8px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:-1405px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:632px;
  width:0px;
  height:0px;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:391px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:186px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1019px;
  width:0px;
  height:0px;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-41px;
  width:8px;
  height:41px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-235px;
  top:-41px;
  width:239px;
  height:8px;
}
#u82_seg2 {
  border-width:0px;
  position:absolute;
  left:-235px;
  top:-387px;
  width:8px;
  height:354px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:-281px;
  top:-86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:632px;
  width:0px;
  height:0px;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:329px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:321px;
  width:306px;
  height:8px;
}
#u84_seg2 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:321px;
  width:8px;
  height:66px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:317px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:1019px;
  width:159px;
  height:60px;
  color:#000000;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:1089px;
  width:159px;
  height:60px;
  color:#000000;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:1159px;
  width:159px;
  height:60px;
  color:#000000;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:1229px;
  width:159px;
  height:60px;
  color:#000000;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:1299px;
  width:159px;
  height:60px;
  color:#FFFFFF;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:632px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:307px;
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:299px;
  width:345px;
  height:8px;
}
#u96_seg2 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:299px;
  width:8px;
  height:88px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:295px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:1019px;
  width:159px;
  height:60px;
  color:#000000;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:632px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:287px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:279px;
  width:372px;
  height:8px;
}
#u100_seg2 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:279px;
  width:8px;
  height:108px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:275px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:1019px;
  width:159px;
  height:60px;
  color:#000000;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:632px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:267px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:259px;
  width:376px;
  height:8px;
}
#u104_seg2 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:259px;
  width:8px;
  height:128px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:255px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1741px;
  top:1019px;
  width:159px;
  height:60px;
  color:#000000;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:1645px;
  top:632px;
  width:0px;
  height:0px;
}
#u108_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:243px;
}
#u108_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:235px;
  width:184px;
  height:8px;
}
#u108_seg2 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:235px;
  width:8px;
  height:152px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:231px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2090px;
  top:1019px;
  width:159px;
  height:60px;
  color:#000000;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2170px;
  top:632px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:391px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:186px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:2259px;
  top:1019px;
  width:159px;
  height:60px;
  color:#000000;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2339px;
  top:632px;
  width:0px;
  height:0px;
}
#u116_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:391px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:186px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:782px;
  width:159px;
  height:60px;
  color:#000000;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  word-wrap:break-word;
}
